[buildout]
develop = .
parts =
    app
    gae_sdk
    gae_tools
find-links =
    http://github.com/paulftw/gae-sessions/tarball/master#egg=gae-sessions
unzip = true


[app]
recipe = appfy.recipe.gae:app_lib
lib-directory = app/libs
use-zipimport = false

eggs =
    flask
    gae-sessions
    
ignore-globs =
    *.c
    *.pyc
    *.pyo
    */test
    */tests
    */testsuite
    */django
    */sqlalchemy
    simplejson/_speedups.py

ignore-packages =
    distribute
    setuptools
    easy_install
    site
    pkg_resources
    

[gae_sdk]
recipe = appfy.recipe.gae:sdk
url = http://googleappengine.googlecode.com/files/google_appengine_1.5.2.zip
clear-destination = true


[gae_tools]
recipe = appfy.recipe.gae:tools
sdk-directory = ${gae_sdk:destination}/google_appengine
extra-paths =
    app/libs
    app